{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EzyMoney</title>

{#    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>#}
{#    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}

    <link href={% static "/css/custom-styles.css" %} rel="stylesheet"/>
    <link href={% static "/semantic.css" %} rel="stylesheet"/>
    <link href={% static "/css/Semantic-UI-Alert.css" %} rel="stylesheet"/>
    <link href={% static "/components/table.css" %} rel="stylesheet"/>
    <script src={% static "/jquery-3.2.1.js" %}></script>
    <script src={% static "/semantic.js" %}></script>

    <!-- Morris Chart Styles-->
{#    <link href={% static "/js/morris/morris-0.4.3.min.css" %} rel="stylesheet"/>#}
{#    <!-- Kanban -->#}
{#    <link href={% static "/css/Kanban.css" %} rel="stylesheet"/>#}

    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
{#    <link href={% static "/js/Lightweight-Chart/cssCharts.css" %}>#}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
</head>

<body>

{#{% if user.is_authenticated %}#}
{#    {% profile_menu user %}#}
{#    {% project_recent_list request user project %}#}
{#{% endif %}#}

<div class="pusher">
    <div class="ui fluid container">
        <div class="ui text large indeterminate loader" id="loader">Загрузка</div>
        {% block content %}
        {% endblock %}

    </div>
</div>

{% if user.is_authenticated %}

    <div class="ui large modal">
        <i class="close icon"></i>
        <div class="scrolling content" id="modal_content">

        </div>
    </div>

{% endif %}

{#<!-- Morris Chart Js -->#}
{#<script src={% static "/js/morris/raphael-2.1.0.min.js" %}></script>#}
{#<script src={% static "/js/morris/morris.js" %}></script>#}
{##}
{##}
{#<script src={% static "/js/easypiechart.js" %}></script>#}
{##}
{#<script src={% static "/js/Lightweight-Chart/jquery.chart.js" %}></script>#}
{##}
{#<!-- Custom Js -->#}
{#<script src={% static "js/parse_date_js.js" %}></script>#}
{##}
{#<script src={% static "js/custom-scripts.js" %}></script>#}
{#<script src={% static "js/main.js" %}></script>#}
{##}
{#<script type="text/javascript" src={% static "js/date.js" %}></script>#}
{##}
{#<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>#}
{#<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.semanticui.min.js"></script>#}
{#<script src={% static "js/Semantic-UI-Alert.js" %}></script>#}
{#<script src={% static "js/Kanban.js" %}></script>#}
{#<script>#}
{#    $(document).ready(function () {#}
{#        $('#TasksTables').dataTable({pageLength:{{ count_visible_tasks}}});#}
{#        $('#TasksTablesFinished').dataTable({pageLength:{{ count_visible_tasks}}});#}
{#        $('#TasksTables').on('length.dt', function (e, settings, len) {#}
{#            console.log('New page length: ' + len);#}
{#            InstallFilter('count_visible_tasks', len);#}
{#        });#}
{#        google.charts.load('current', {'packages': ['corechart', 'line', 'gantt']});#}
{#    });#}
{#    $('.ui.search')#}
{#        .search({#}
{#            apiSettings: {#}
{#                url: '/search?q={query}'#}
{#            },#}
{##}
{#            minCharacters: 3,#}
{#            debug: true,#}
{#            onSelect: function (result, response) {#}
{#                TaskDetail(result.url.replace('#', ''));#}
{#                result.url = '';#}
{#                console.log(result);#}
{#                console.log(response);#}
{#                return false;#}
{#            }#}
{#        })#}
{#    ;#}
{#</script>#}

</body>

</html>